@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;

.bg-fixed {
  @apply bg-white opacity-90 shadow-sm;
}

.bg-fixed-dark {
  @apply bg-gradient-to-r from-custom-blue to-custom-green opacity-95 shadow-sm;
}

@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

body {
  @apply bg-[#f0eaea];
  background-color: rgb(10, 10, 33);
}
